services:
  api:
    image: ghcr.io/payetonkawa-epsi-2025/customers-V2/paye-ton-kawa--customers
    container_name: customers-api
    environment:
      - DATABASE_DSN=postgres://postgresadmin:postgresadmin@database:5432/customers
      - RABBIT_DSN=amqp://guest:guest@rabbit:5672
    ports:
      - 8081:8081
    networks:
      - default
      - tpre814_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.customers.rule=Host(`customers.localhost`)"
      - "traefik.http.routers.customers.entrypoints=web"
      - "traefik.http.services.customers.loadbalancer.server.port=8081"
  database:
    image: postgres:17.4-alpine
    environment:
      POSTGRES_USER: postgresadmin
      POSTGRES_PASSWORD: postgresadmin
      POSTGRES_DB: customers
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5431:5432

volumes:
  db_data:

networks:
  tpre814_network:
    external: true
    name: TPRE814
