name: Api Tests

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    env:
      DATABASE_DSN: postgresql://test:test@localhost:5432/testdb

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Wait for Postgres
        run: |
          echo "Waiting for Postgres..."
          until pg_isready -h localhost -p 5432 -U test; do
            sleep 1
          done

      - name: Run Go service
        run: |
          go run ./cmd/main &   # run in background
          echo $! > go.pid

      - name: Wait for Go service
        run: |
          echo "Waiting for Go service on port 8080..."
          until curl -s http://localhost:8080/health; do
          sleep 1
          done

      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}
      - name: Run API tests
        run: |
          postman collection run "25203538-5f6aaf3d-954b-475c-9f3e-9d0c25e788c4" -e "25203538-cbf0eac1-eaa6-4025-b3fb-0e8cf1821a1a"
