name: Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Prepare Go modules
        run: |
          go mod tidy
          go mod download

      - name: Run govulncheck
        run: govulncheck ./...
  tests:
    name: Tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5
          --entrypoint "postgres"
          postgres -c fsync=off -c synchronous_commit=off -c full_page_writes=off
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Go install
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Download Go dependencies
        run: go mod download

      - name: Wait for Postgres
        run: |
          until pg_isready -h localhost -p 5432 -U test; do
            sleep 1
          done

      - name: Run migrations
        run: |
          migrate -database "$DATABASE_URL" -path migrations up

      - name: Run tests
        run: |
          go test -race -count=1 ./... -cover
